html body {
    font-size: 80%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode';
    letter-spacing: 0.15em;
    background: rgb(150, 195, 204);
    background: linear-gradient(180deg, rgba(173,232,244,1) 0%, rgb(5, 238, 238) 35%, rgba(7,85,100,1) 100%,)

}
#page{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #4c4242;
    background: rgb(173,232,244);
    background: linear-gradient(180deg, rgba(173,232,244,1) 0%, rgba(5,199,238,1) 35%, rgba(7,85,100,1) 100%)

}

#logo{
    width: 150px;
    margin: 10px auto 25px auto;

}

ul{
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #262df2;
    border-bottom: 1px solid #262df2;
    text-align: center;
}

li{
    display: inline;
    margin: 0px 3px;
}

.image-section {
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap:100px;
}

.image-container {
    display: flex;
    align-items: center;
}

circle{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
}

.circle-container {
	display: flex; 
	justify-content: center; 
    align-items: center; 
	padding-top: 5px;
	content: 2px;
	margin-top: 5px;
}

.circle {
	width: 120px;
	height: 120px;
	border-radius: 7%;
	border: 3px #0536a9;
	margin: 10px;
    margin-left: 3px;
    margin-right: 5px;
	overflow: hidden;
	position: relative;
	transition: transform 3.3s;
	box-shadow: 1px 1px 8px 5px #0536a9;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	
	
}

.circle img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.circle:hover {
	transform: scale(1.3);
}
.name {
	display: none; 
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}
.text-on-hover {
    display: none;
    text-align: center;
    background-color: #9bcce2;
    color: #e6b3b3e9;
    padding: 10px;
}
.circle:hover .text-overlay{
	opacity: 1;
}
.text-overlay {
	font-size: 14px;
    position: absolute;
    top: 20px;
    right:-1px;
    width: 100%;
    height: 100%;
    background-color: #046798; 
    color: #f3f3f3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.8s ease; 
}
.circle:hover img {
    transform: scale(1.1); 
}


a:hover, a.on{
    color: #cc3333;
    background-color:whitesmoke;
}

